<%- include('./../layout/header.ejs'); %> 
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Config</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin">Home</a></li>
              <li class="breadcrumb-item active">Config</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <div class="card">
              <div class="card-header">
                <h3 class="card-title"><%= (config.id)?'Edit':'Edit' %>Config</h3>
              </div>
              <!-- /.card-header -->
              <form name="frmConfig" id="frmConfig" method="POST" action="<%= (config.id)?'/admin/config/edit/'+config.id:'' %>" role="form" enctype="multipart/form-data">
                <input type="hidden" name="id" value="<%= (config.id)?config.id:'' %>" class="hdnId">
                <div class="card-body">

                <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Email</label>
                        <input type="text" name="email" id="txtEmail" value="<%= (config.email)?config.email:'' %>" class="form-control" placeholder="Enter a email">
                        <%if(config.emailError) {%><label id="txtEmail-error" class="error" for="txtEmail"><%= config.EmailError %></label><%}%>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Phone</label>
                        <input type="phone" name="phone" id="txtphone" value="<%= (config.phone)?config.phone:'' %>" class="form-control" placeholder="Phone Number">
                        <%if(config.phoneError) {%><label id="txtphone-error" class="error" for="txtPhone"><%= config.phoneError %></label><%}%>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Address</label>
                        <input type="address" name="address" id="txtaddress" value="<%= (config.address)?config.address:'' %>" class="form-control" placeholder="You're Address">
                        <%if(config.addressError) {%><label id="txtaddress-error" class="error" for="txtAddress"><%= config.addressError %></label><%}%>
                      </div>
                    </div>

                </div>

                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Contact Person</label>
                        <input type="contactperson" name="contactperson" id="txtcontactperson" value="<%= (config.contactperson)?config.contactperson:'' %>" class="form-control" placeholder="Contact Person details">
                        <%if(config.contactpersonError) {%><label id="txtcontactperson-error" class="error" for="txtContactperson"><%= config.contactpersonError %></label><%}%>
                      </div>
                    </div>
                  


                </div>

                 
                  </div>
                  </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>

              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>


<%- include('./../layout/footer.ejs'); %>

<script type="text/javascript">
    
       

        $('#imgFile').change(function() {
          var file = $('#imgFile')[0].files[0].name;
          $('.img_label').text(file);
      });
</script>

</body>
</html>